<form [formGroup]="colorForm">

  <div>
    {{colorForm.errors | json}}
  </div>

  <div>
    <label for="color-name">Color Name:</label>
    <input type="text" id="color-name" formControlName="colorName">
    <span>Please enter a color name of 3 characters or more.</span>
  </div>

  <div>
    <label for="color-hexcode">Color HexCode:</label>
    <input type="text" id="color-hexcode" formControlName="colorHexCode">
    <span>Please enter a color hexcode of 3 characters or more.</span>
  </div>


  <button type="button" (click)="doSubmitColor()">{{submitButtonText}}</button>

</form>
