<td>{{car.id}}</td>
<td>{{car.make}}</td>
<td>{{car.model}}</td>
<td>{{car.year}}</td>
<td>{{car.color}}</td>
<td>{{car.price}}</td>
<td>
  <button type="button" (click)="doEdit()">Edit</button>
  <button type="button" (click)="doDelete()">Delete</button>
</td>
