<tool-header headerText="Nate & Zack's Color Shack"></tool-header>
<!-- <input type="text" [formControl]="sampleText"> -->
<ul>
  <li *ngFor="let color of sortedColors">{{color | myUppercase | myAppend:'!!!!'}}</li>

  <!-- <ng-template ngFor [ngForOf]="colors" let-color>
    <li>{{color}}</li>
  </ng-template>

  <ng-container *ngFor="let color of colors">
    <li>{{color}}</li>
    <ng-container *ngFor="let color of colors">
      <li>{{color | uppercase}}</li>
    </ng-container>
  </ng-container> -->

</ul>

<color-form (submitColor)="addColor($event)" submitButtonText="Add Color"></color-form>


