<!-- <color-home></color-home> -->
<!-- <car-home></car-home> -->
<!-- <type-ahead-demo></type-ahead-demo> -->
<header>
  <h1>Company Web Site</h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/company/home">Home</a></li>
    <li><a routerLink="/company/about/3">About</a></li>
    <li><a routerLink="/company/contact">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<footer>
  <small>&copy; 2018, A Cool Company, Inc.</small>
</footer>

