<tool-header [headerText]="headerText"></tool-header>
<car-table [cars]="cars" [editCarId]="editCarId"
  (editCar)="doEditCar($event)" (deleteCar)="doDeleteCar($event)"
  (saveCar)="doSaveCar($event)" (cancelCar)="doCancelCar()"></car-table>
<car-form (addCar)="doAddCar($event)"></car-form>
